@media only screen and (max-width:1500px){
	div.col-lg-6.phn {
    display: none;
}
	
	div.header-content {
    padding: 250px 108px 250px 108px;
}
div.testi1-content {
    padding: 120px 100px 50px 100px;
}

div.col-lg-3.col-md-6.col-sm-12.foter-col11.foter-border img {
    width: 200px;
}


div.contact {
   
    margin-left: 0px;

}
}
@media only screen and (max-width:1343px){
	
	div.phn {
    display: none;
}

}
@media only screen and (max-width:1300px){
	
	div.phn {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    display: none;
}
div.new {
  
    display: none;
}
img.logo {
    width: 200px;
}
div.foter-top1 h2 {
  
    font-size: 18px;

}
div.foter-top1 ul a {
font-size: 13px;}

}

@media only screen and (max-width:991px){
	
	section.header h2 {
    font-size: 38px;
    
}

section.header p {
   
    font-size: 16px;
}
div.testi1-content h2 {
   
    font-size: 30px;
   
}

div.testi1-content.text-center p {
    font-size: 14px;
}
div.contact {
    margin-left: 402px;
    margin-top: -55px;
}

	div.mobile span{
		display:block;
		
	}
	.footer-section .col{

    flex: 0 0 50%;
    max-width: 50%;
}


div.test-box3{
	display:none;
}

}

@media only screen and (max-width:768px){
	
	
	div.container {
    margin-top: 6px;
}
div.contact {
    margin-left: 202px;
    margin-top: -62px;
}
	div.header-content {
    padding: 120px 8px 120px 0px;
}

div.testi1-content {
    padding: 120px 0px 50px 0px;
}
	div.mobile span {
    right: 20px;
    top: 18px;
	
}
}

@media only screen and (max-width:767px){
	div.test-box2{
	display:none;
}
		div.testi1-content-box {
  
   
    margin: 46px 82px;
}
}

@media only screen and (max-width:663px){
	
.footer-section .col{

  flex: 0 0 100%;
    max-width: 100%;
}
}
@media only screen and (max-width:600px){
	
	div.testi1-content-box {
    margin: 20px 15px;
}
}


@media only screen and (max-width:360px){
	div.contact {
   display:none;
}
	section.header h2 {
    font-size: 30px;
    
}

section.header p {
   
    font-size: 14px;
}
div.testi1-content h2 {
   
    font-size: 28px;
   
}

div.testi1-content.text-center p {
    font-size: 14px;
}
	
}





